<div>
    <h2 id="page-heading">
        <span>Transactions</span>
        <!--<button id="jh-create-entity" class="btn btn-sm btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Transaction
            </span>
        </button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="transactions?.length === 0">
        <span>No transactions found</span>
    </div>
    <div class="table-responsive" *ngIf="transactions?.length > 0">

        <div class="form-inline card-body">
            <div class="form-group mx-sm-3 mb-2">
                <label class="form-control-label">Msisdn: </label>
                <input #msisdn class="form-control-sm" id="msisdn"/>
            </div>
            <button (click)="Search(msisdn.value);"
                    class="btn btn-sm mx-sm-3 mb-2 btn-dark">
                <fa-icon icon="search"></fa-icon>
                Chercher
            </button>
            <button (click)="Initialize();msisdn.value=''"
                    class="btn btn-sm mx-sm-3 mb-2 btn-dark">
                <fa-icon icon="list"></fa-icon>
                Init
            </button>
        </div>
            <table class="table table-striped table-hover small">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="requestId"><span>Request Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trxIdMobiquity"><span>Trx Id Mobiquity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trxType"><span>Trx Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trxPartnerType"><span>Trx Partner Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trxPartnerId"><span>Trx Partner Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trxCustomerMSISDN"><span>Trx Customer MSISDN</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trxCustomerAccountNumber"><span>Trx Customer Account Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trxAmount"><span>Trx Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trxChannel"><span>Trx Channel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="trxDate"><span>Trx Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="eligiblePromos"><span>Eligible Promos</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="traitementStatus"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="spare1"><span>Spare 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="spare2"><span>Spare 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td><a [routerLink]="['/transaction', transaction.id, 'view' ]">{{transaction.id}}</a></td>
                <td>{{transaction.requestId}}</td>
                <td>{{transaction.trxIdMobiquity}}</td>
                <td>{{transaction.trxType}}</td>
                <td>{{transaction.trxPartnerType}}</td>
                <td>{{transaction.trxPartnerId}}</td>
                <td>{{transaction.trxCustomerMSISDN}}</td>
                <td>{{transaction.trxCustomerAccountNumber}}</td>
                <td>{{transaction.trxAmount}}</td>
                <td>{{transaction.trxChannel}}</td>
                <td>{{transaction.trxDate}}</td>
                <td>{{transaction.eligiblePromos}}</td>
                <td>{{transaction.traitementStatus}}</td>
                <td>{{transaction.spare1}}</td>
                <td>{{transaction.spare2}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <!--<button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'edit']"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'transaction', { outlets: { popup: transaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="transactions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
