<div class="row justify-content-center pb-2">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-heading">Create or edit a Transaction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requestId">Request Id</label>
                    <input type="text" class="form-control" name="requestId" id="field_requestId"
                           formControlName="requestId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trxIdMobiquity">Trx Id Mobiquity</label>
                    <input type="text" class="form-control" name="trxIdMobiquity" id="field_trxIdMobiquity"
                           formControlName="trxIdMobiquity"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trxType">Trx Type</label>
                    <input type="text" class="form-control" name="trxType" id="field_trxType"
                           formControlName="trxType"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trxPartnerType">Trx Partner Type</label>
                    <input type="text" class="form-control" name="trxPartnerType" id="field_trxPartnerType"
                           formControlName="trxPartnerType"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trxPartnerId">Trx Partner Id</label>
                    <input type="text" class="form-control" name="trxPartnerId" id="field_trxPartnerId"
                           formControlName="trxPartnerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trxCustomerMSISDN">Trx Customer MSISDN</label>
                    <input type="text" class="form-control" name="trxCustomerMSISDN" id="field_trxCustomerMSISDN"
                           formControlName="trxCustomerMSISDN"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trxCustomerAccountNumber">Trx Customer Account Number</label>
                    <input type="text" class="form-control" name="trxCustomerAccountNumber" id="field_trxCustomerAccountNumber"
                           formControlName="trxCustomerAccountNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trxAmount">Trx Amount</label>
                    <input type="text" class="form-control" name="trxAmount" id="field_trxAmount"
                           formControlName="trxAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trxChannel">Trx Channel</label>
                    <input type="text" class="form-control" name="trxChannel" id="field_trxChannel"
                           formControlName="trxChannel"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trxDate">Trx Date</label>
                    <input type="text" class="form-control" name="trxDate" id="field_trxDate"
                           formControlName="trxDate"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_eligiblePromos">Eligible Promos</label>
                    <input type="text" class="form-control" name="eligiblePromos" id="field_eligiblePromos"
                           formControlName="eligiblePromos"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_traitementStatus">Status</label>
                    <select class="form-control" name="traitementStatus" formControlName="traitementStatus" id="field_traitementStatus">
                        <option value="INITIATED">INITIATED</option>
                        <option value="PROCESSED">PROCESSED</option>
                        <option value="REWARDED">REWARDED</option>
                        <option value="FAILED">FAILED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_spare1">Spare 1</label>
                    <input type="text" class="form-control" name="spare1" id="field_spare1"
                           formControlName="spare1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_spare2">Spare 2</label>
                    <input type="text" class="form-control" name="spare2" id="field_spare2"
                           formControlName="spare2"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-dark">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
