<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span>Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Request Id</span></dt>
                <dd>
                    <span>{{transaction.requestId}}</span>
                </dd>
                <dt><span>Trx Id Mobiquity</span></dt>
                <dd>
                    <span>{{transaction.trxIdMobiquity}}</span>
                </dd>
                <dt><span>Trx Type</span></dt>
                <dd>
                    <span>{{transaction.trxType}}</span>
                </dd>
                <dt><span>Trx Partner Type</span></dt>
                <dd>
                    <span>{{transaction.trxPartnerType}}</span>
                </dd>
                <dt><span>Trx Partner Id</span></dt>
                <dd>
                    <span>{{transaction.trxPartnerId}}</span>
                </dd>
                <dt><span>Trx Customer MSISDN</span></dt>
                <dd>
                    <span>{{transaction.trxCustomerMSISDN}}</span>
                </dd>
                <dt><span>Trx Customer Account Number</span></dt>
                <dd>
                    <span>{{transaction.trxCustomerAccountNumber}}</span>
                </dd>
                <dt><span>Trx Amount</span></dt>
                <dd>
                    <span>{{transaction.trxAmount}}</span>
                </dd>
                <dt><span>Trx Channel</span></dt>
                <dd>
                    <span>{{transaction.trxChannel}}</span>
                </dd>
                <dt><span>Trx Date</span></dt>
                <dd>
                    <span>{{transaction.trxDate}}</span>
                </dd>
                <dt><span>Eligible Promos</span></dt>
                <dd>
                    <span>{{transaction.eligiblePromos}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{transaction.traitementStatus}}</span>
                </dd>
                <dt><span>Spare 1</span></dt>
                <dd>
                    <span>{{transaction.spare1}}</span>
                </dd>
                <dt><span>Spare 2</span></dt>
                <dd>
                    <span>{{transaction.spare2}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
        <hr/>

        <h4>Rewards</h4>

        <table class="table table-striped table-hover small">
            <thead>
            <tr >
                <th><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th><span>Reward Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th><span>Reward Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th><span>Reward Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th><span>Reward Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th><span>Reward</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th><span>Transaction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transactionReward of transactionRewards">
                <td><a [routerLink]="['/transaction-reward', transactionReward.id, 'view' ]">{{transactionReward.id}}</a></td>
                <td>{{transactionReward.rewardStatus}}</td>
                <td>{{transactionReward.rewardMessage}}</td>
                <td>{{transactionReward.rewardValue}}</td>
                <td>{{transactionReward.rewardDateTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="transactionReward.rewardId">
                        <a [routerLink]="['../reward', transactionReward.rewardId , 'view' ]" >{{transactionReward.rewardId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transactionReward.transactionId">
                        <a [routerLink]="['../transaction', transactionReward.transactionId , 'view' ]" >{{transactionReward.transactionId}}</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
