<div>
    <h2 id="page-heading">
        <span>Promotions</span>
        <button id="jh-create-entity" class="btn btn-sm btn-dark float-right jh-create-entity create-promotion" [routerLink]="['/promotion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Promotion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="promotions?.length === 0">
        <span>No promotions found</span>
    </div>
    <div class="table-responsive" *ngIf="promotions?.length > 0">
        <table class="table table-striped table-hover small">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="critereEligilibite"><span>Eligibility criteria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="frequence"><span>Frequence</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="frequenceDetails"><span>Frequence Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statut"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="campagneId"><span>Campaign</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let promotion of promotions ;trackBy: trackId">
                <td><a [routerLink]="['/promotion', promotion.id, 'view' ]">{{promotion.id}}</a></td>
                <td>{{promotion.nom}}</td>
                <td>{{promotion.critereEligilibite}}</td>
                <td>{{promotion.frequence}}</td>
                <td>{{promotion.frequenceDetails}}</td>
                <td [ngClass]="{'text-success font-weight-bolder': promotion.statut == 'ACTIVE', 'text-danger': promotion.statut == 'DISABLED'}">{{promotion.statut}}</td>
                <td>
                    <div *ngIf="promotion.campagneId">
                        <a [routerLink]="['../campagne', promotion.campagneId , 'view' ]" >{{promotion.campagneId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/promotion', promotion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/promotion', promotion.id, 'edit']"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'promotion', { outlets: { popup: promotion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="promotions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
