<div class="row justify-content-center pb-2">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-promotion-heading">Create or edit a Promotion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Name</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom').invalid && (editForm.get('nom').dirty || editForm.get('nom').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_critereEligilibite">Eligibility criteria</label>
                    <input type="text" class="form-control" name="critereEligilibite" id="field_critereEligilibite"
                           formControlName="critereEligilibite"/>
                    <div *ngIf="editForm.get('critereEligilibite').invalid && (editForm.get('critereEligilibite').dirty || editForm.get('critereEligilibite').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('critereEligilibite').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_frequence">Frequence</label>
                    <select class="form-control" name="frequence" formControlName="frequence" id="field_frequence">
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                    <div *ngIf="editForm.get('frequence').invalid && (editForm.get('frequence').dirty || editForm.get('frequence').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('frequence').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label *ngIf="editForm.get('frequence').value==='Monthly'" class="form-control-label" for="field_frequenceDetails2">Frequence Details</label>
                    <label *ngIf="editForm.get('frequence').value==='Weekly'" class="form-control-label" for="field_frequenceDetails3">Frequence Details</label>
                    <input *ngIf="editForm.get('frequence').value==='Daily'" type="hidden" class="form-control" name="frequenceDetails" id="field_frequenceDetails" formControlName="frequenceDetails" value="0"/>
                    <input *ngIf="editForm.get('frequence').value==='Monthly'" type="number" max="30" min="1" class="form-control" name="frequenceDetails" id="field_frequenceDetails2" formControlName="frequenceDetails"/>
                    <select *ngIf="editForm.get('frequence').value==='Weekly'" class="form-control" name="frequence" id="field_frequenceDetails3" formControlName="frequenceDetails">
                        <option value="1">Lundi</option>
                        <option value="2">Mardi</option>
                        <option value="3">Mercredi</option>
                        <option value="4">Jeudi</option>
                        <option value="5">Vendredi</option>
                        <option value="6">Samedi</option>
                        <option value="7">Dimanche</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_statut">Status</label>
                    <select class="form-control" name="statut" formControlName="statut" id="field_statut">
                        <option value="ACTIVE">ACTIVE</option>
                        <option value="DISABLED">DISABLED</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_campagne">Campaign</label>
                    <select class="form-control" id="field_campagne" name="campagne" formControlName="campagneId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="campagneOption.id" *ngFor="let campagneOption of campagnes; trackBy: trackCampagneById">{{campagneOption.nom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-dark">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
