<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="promotion">
            <h2><span>Promotion</span> {{promotion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{promotion.nom}}</span>
                </dd>
                <dt><span>Eligibility criteria</span></dt>
                <dd>
                    <span>{{promotion.critereEligilibite}}</span>
                </dd>
                <dt><span>Frequence</span></dt>
                <dd>
                    <span>{{promotion.frequence}}</span>
                </dd>
                <dt><span>Frequence Details</span></dt>
                <dd>
                    <span>{{promotion.frequenceDetails}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd class="font-weight-bolder" [ngClass]="{'text-success': promotion.statut == 'ACTIVE', 'text-danger': promotion.statut == 'DISABLED'}">
                    <span>{{promotion.statut}}</span>
                </dd>
                <dt><span>Campaign</span></dt>
                <dd>
                    <div *ngIf="promotion.campagneId">
                        <a [routerLink]="['/campagne', promotion.campagneId, 'view']">{{promotion.campagneId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/promotion', promotion.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
        <br>
        <br>
        <br>
        <div class="table-responsive table-hover small" *ngIf="promoExecutionPlans?.length > 0">
            <h4>Executions plans</h4>
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="dateDebut"><span>Started date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="dateFin"><span>Ended date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="promotionId"><span>Promotion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let promoExecutionPlan of promoExecutionPlans ;">
                    <td><a [routerLink]="['/promo-execution-plan', promoExecutionPlan.id, 'view' ]">{{promoExecutionPlan.id}}</a></td>
                    <td>{{promoExecutionPlan.dateDebut | date:'medium'}}</td>
                    <td>{{promoExecutionPlan.dateFin | date:'medium'}}</td>
                    <td>
                        <div *ngIf="promoExecutionPlan.promotionId">
                            {{promoExecutionPlan.promotionId}}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div [hidden]="promoExecutionPlans?.length === 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
