.footer {
  height: 40px;
}

.footer-logo {
  width: 50px;
}

.logo-img {
  height: 20px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-free.png') no-repeat center center;
  background-size: contain;
}
