<div>
    <h2 id="page-heading">
        <span>Transaction Rewards</span>
        <!--<button id="jh-create-entity" class="btn btn-sm btn-primary float-right jh-create-entity create-transaction-reward" [routerLink]="['/transaction-reward/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Transaction Reward
            </span>
        </button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="transactionRewards?.length === 0">
        <span>No transactionRewards found</span>
    </div>
    <div class="table-responsive table-hover small" *ngIf="transactionRewards?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rewardStatus"><span>Reward Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rewardMessage"><span>Reward Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rewardValue"><span>Reward Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rewardDateTime"><span>Reward Date Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rewardId"><span>Reward</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="transactionId"><span>Transaction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transactionReward of transactionRewards ;trackBy: trackId">
                <td><a [routerLink]="['/transaction-reward', transactionReward.id, 'view' ]">{{transactionReward.id}}</a></td>
                <td>{{transactionReward.rewardStatus}}</td>
                <td>{{transactionReward.rewardMessage}}</td>
                <td>{{transactionReward.rewardValue}}</td>
                <td>{{transactionReward.rewardDateTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="transactionReward.rewardId">
                        <a [routerLink]="['../reward', transactionReward.rewardId , 'view' ]" >{{transactionReward.rewardId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transactionReward.transactionId">
                        <a [routerLink]="['../transaction', transactionReward.transactionId , 'view' ]" >{{transactionReward.transactionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transaction-reward', transactionReward.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <!--<button type="submit"
                                [routerLink]="['/transaction-reward', transactionReward.id, 'edit']"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'transaction-reward', { outlets: { popup: transactionReward.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="transactionRewards?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
