<div class="row justify-content-center pb-2">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-reward-heading">Create or edit a Transaction Reward</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rewardStatus">Reward Status</label>
                    <select class="form-control" name="rewardStatus" formControlName="rewardStatus" id="field_rewardStatus">
                        <option value="GRANTED">GRANTED</option>
                        <option value="THREESHOLD">THREESHOLD</option>
                        <option value="FAILED">FAILED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rewardMessage">Reward Message</label>
                    <input type="text" class="form-control" name="rewardMessage" id="field_rewardMessage"
                           formControlName="rewardMessage"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rewardValue">Reward Value</label>
                    <input type="number" class="form-control" name="rewardValue" id="field_rewardValue"
                           formControlName="rewardValue"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rewardDateTime">Reward Date Time</label>
                    <div class="d-flex">
                        <input id="field_rewardDateTime" type="datetime-local" class="form-control" name="rewardDateTime" formControlName="rewardDateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_reward">Reward</label>
                    <select class="form-control" id="field_reward" name="reward" formControlName="rewardId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rewardOption.id" *ngFor="let rewardOption of rewards; trackBy: trackRewardById">{{rewardOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transaction">Transaction</label>
                    <select class="form-control" id="field_transaction" name="transaction" formControlName="transactionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="transactionOption.id" *ngFor="let transactionOption of transactions; trackBy: trackTransactionById">{{transactionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-dark">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
