<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transactionReward">
            <h2><span>Transaction Reward</span> {{transactionReward.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Reward Status</span></dt>
                <dd>
                    <span>{{transactionReward.rewardStatus}}</span>
                </dd>
                <dt><span>Reward Message</span></dt>
                <dd>
                    <span>{{transactionReward.rewardMessage}}</span>
                </dd>
                <dt><span>Reward Value</span></dt>
                <dd>
                    <span>{{transactionReward.rewardValue}}</span>
                </dd>
                <dt><span>Reward Date Time</span></dt>
                <dd>
                    <span>{{transactionReward.rewardDateTime}}</span>
                </dd>
                <dt><span>Reward</span></dt>
                <dd>
                    <div *ngIf="transactionReward.rewardId">
                        <a [routerLink]="['/reward', transactionReward.rewardId, 'view']">{{transactionReward.rewardId}}</a>
                    </div>
                </dd>
                <dt><span>Transaction</span></dt>
                <dd>
                    <div *ngIf="transactionReward.transactionId">
                        <a [routerLink]="['/transaction', transactionReward.transactionId, 'view']">{{transactionReward.transactionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction-reward', transactionReward.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
