<div class="row justify-content-center pb-2">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-daily-commissions-heading">Create or edit a Daily Commissions</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_agentMsisdn">Agent Msisdn</label>
                    <input type="text" class="form-control" name="agentMsisdn" id="field_agentMsisdn"
                           formControlName="agentMsisdn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" formControlName="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastTransactionId">Last Transaction Id</label>
                    <input type="text" class="form-control" name="lastTransactionId" id="field_lastTransactionId"
                           formControlName="lastTransactionId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalCashinTransactions">Total Cashin Transactions</label>
                    <input type="number" class="form-control" name="totalCashinTransactions" id="field_totalCashinTransactions"
                           formControlName="totalCashinTransactions"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalCashoutTransactions">Total Cashout Transactions</label>
                    <input type="number" class="form-control" name="totalCashoutTransactions" id="field_totalCashoutTransactions"
                           formControlName="totalCashoutTransactions"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_totalIncentiveCommissions">Total Incentive Commissions</label>
                    <input type="number" class="form-control" name="totalIncentiveCommissions" id="field_totalIncentiveCommissions"
                           formControlName="totalIncentiveCommissions"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare1">Spare 1</label>
                    <input type="text" class="form-control" name="spare1" id="field_spare1"
                           formControlName="spare1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare2">Spare 2</label>
                    <input type="text" class="form-control" name="spare2" id="field_spare2"
                           formControlName="spare2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare3">Spare 3</label>
                    <input type="text" class="form-control" name="spare3" id="field_spare3"
                           formControlName="spare3"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare4">Spare 4</label>
                    <input type="text" class="form-control" name="spare4" id="field_spare4"
                           formControlName="spare4"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare5">Spare 5</label>
                    <input type="text" class="form-control" name="spare5" id="field_spare5"
                           formControlName="spare5"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-dark">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
