<div class="row justify-content-center pb-2">
    <div class="col-8">
        <div *ngIf="dailyCommissions">
            <h2><span>Daily Commissions</span> {{ dailyCommissions.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Agent Msisdn</span></dt>
                <dd>
                    <span>{{ dailyCommissions.agentMsisdn }}</span>
                </dd>
                <dt><span>Last Modified Date</span></dt>
                <dd>
                    <span>{{ dailyCommissions.lastModifiedDate }}</span>
                </dd>
                <dt><span>Last Transaction Id</span></dt>
                <dd>
                    <span>{{ dailyCommissions.lastTransactionId }}</span>
                </dd>
                <dt><span>Total Cashin Transactions</span></dt>
                <dd>
                    <span>{{ dailyCommissions.totalCashinTransactions }}</span>
                </dd>
                <dt><span>Total Cashout Transactions</span></dt>
                <dd>
                    <span>{{ dailyCommissions.totalCashoutTransactions }}</span>
                </dd>
                <dt><span>Total Incentive Commissions</span></dt>
                <dd>
                    <span>{{ dailyCommissions.totalIncentiveCommissions }}</span>
                </dd>
                <dt><span>Spare 1</span></dt>
                <dd>
                    <span>{{ dailyCommissions.spare1 }}</span>
                </dd>
                <dt><span>Spare 2</span></dt>
                <dd>
                    <span>{{ dailyCommissions.spare2 }}</span>
                </dd>
                <dt><span>Spare 3</span></dt>
                <dd>
                    <span>{{ dailyCommissions.spare3 }}</span>
                </dd>
                <dt><span>Spare 4</span></dt>
                <dd>
                    <span>{{ dailyCommissions.spare4 }}</span>
                </dd>
                <dt><span>Spare 5</span></dt>
                <dd>
                    <span>{{ dailyCommissions.spare5 }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/daily-commissions', dailyCommissions.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
