<div>
    <h2 id="page-heading">
        <span>Daily Commissions</span>

        <button [hidden] = "hideByDate" id="jh-create-entity"  class="btn btn-sm btn-dark float-right jh-create-entity create-daily-commissions" (click)="loadPageByToday()">
            <span>
            Show commissions with current date
            </span>
        </button>
        <button [hidden] = "hideAll" id="jh-create-entity" class="btn btn-sm btn-secondary float-right jh-create-entity create-daily-commissions" (click)="loadPage()">
            <span>
            Show all commissions
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="dailyCommissions?.length === 0">
        <span>No dailyCommissions found</span>
    </div>

    <div class="table-responsive table-hover small" id="entities" *ngIf="dailyCommissions && dailyCommissions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agentMsisdn"><span>Agent Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedDate"><span>Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastTransactionId"><span>Last Transaction Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalCashinTransactions"><span>Total Cashin Transactions</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalCashoutTransactions"><span>Total Cashout Transactions</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalIncentiveCommissions"><span>Total Incentive Commissions</span> <fa-icon icon="sort"></fa-icon></th>
                    <!-- <th scope="col"  jhiSortBy="spare1"><span>Spare 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare2"><span>Spare 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare3"><span>Spare 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare4"><span>Spare 4</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare5"><span>Spare 5</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dailyCommissions of dailyCommissions ;trackBy: trackId">
                    <td><a [routerLink]="['/daily-commissions', dailyCommissions.id, 'view']">{{ dailyCommissions.id }}</a></td>
                    <td>{{ dailyCommissions.agentMsisdn }}</td>
                    <td>{{ dailyCommissions.lastModifiedDate | date:'medium' }}</td>
                    <td>{{ dailyCommissions.lastTransactionId }}</td>
                    <td>{{ dailyCommissions.totalCashinTransactions }}</td>
                    <td>{{ dailyCommissions.totalCashoutTransactions }}</td>
                    <td>{{ dailyCommissions.totalIncentiveCommissions }}</td>
                    <!-- <td>{{ dailyCommissions.spare1 }}</td>
                    <td>{{ dailyCommissions.spare2 }}</td>
                    <td>{{ dailyCommissions.spare3 }}</td>
                    <td>{{ dailyCommissions.spare4 }}</td>
                    <td>{{ dailyCommissions.spare5 }}</td> -->
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/daily-commissions', dailyCommissions.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <!-- <button type="submit"
                                    [routerLink]="['/daily-commissions', dailyCommissions.id, 'edit']"
                                    class="btn btn-warning btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(dailyCommissions)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="dailyCommissions && dailyCommissions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
