<div>
    <h2 id="page-heading">
        <span>Subscribers Incomes</span>
<!--
        <button id="jh-create-entity" class="btn btn-sm btn-dark float-right jh-create-entity create-subscribers-uncomes" [routerLink]="['/subscribers-uncomes/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Subscribers Uncomes
            </span>
        </button> -->
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="subscribersUncomes?.length === 0">
        <span>No subscribersUncomes found</span>
    </div>

    <div class="table-responsive table-hover small" id="entities" *ngIf="subscribersUncomes && subscribersUncomes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subscriberMsisdn"><span>Subscriber Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="processDate"><span>Process Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uncome"><span>Uncome</span> <fa-icon icon="sort"></fa-icon></th>
                    <!-- <th scope="col"  jhiSortBy="spare1"><span>Spare 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare2"><span>Spare 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare3"><span>Spare 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare4"><span>Spare 4</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare5"><span>Spare 5</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subscribersUncomes of subscribersUncomes ;trackBy: trackId">
                    <td><a [routerLink]="['/subscribers-uncomes', subscribersUncomes.id, 'view']">{{ subscribersUncomes.id }}</a></td>
                    <td>{{ subscribersUncomes.subscriberMsisdn }}</td>
                    <td>{{ subscribersUncomes.processDate | date:'medium' }}</td>
                    <td>{{ subscribersUncomes.uncome }}</td>
                    <!-- <td>{{ subscribersUncomes.spare1 }}</td>
                    <td>{{ subscribersUncomes.spare2 }}</td>
                    <td>{{ subscribersUncomes.spare3 }}</td>
                    <td>{{ subscribersUncomes.spare4 }}</td>
                    <td>{{ subscribersUncomes.spare5 }}</td> -->
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/subscribers-uncomes', subscribersUncomes.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <!-- <button type="submit"
                                    [routerLink]="['/subscribers-uncomes', subscribersUncomes.id, 'edit']"
                                    class="btn btn-warning btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(subscribersUncomes)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="subscribersUncomes && subscribersUncomes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
