<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subscribersUncomes">
            <h2><span>Subscribers Uncomes</span> {{ subscribersUncomes.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Subscriber Msisdn</span></dt>
                <dd>
                    <span>{{ subscribersUncomes.subscriberMsisdn }}</span>
                </dd>
                <dt><span>Process Date</span></dt>
                <dd>
                    <span>{{ subscribersUncomes.processDate }}</span>
                </dd>
                <dt><span>Uncome</span></dt>
                <dd>
                    <span>{{ subscribersUncomes.uncome }}</span>
                </dd>
                <dt><span>Spare 1</span></dt>
                <dd>
                    <span>{{ subscribersUncomes.spare1 }}</span>
                </dd>
                <dt><span>Spare 2</span></dt>
                <dd>
                    <span>{{ subscribersUncomes.spare2 }}</span>
                </dd>
                <dt><span>Spare 3</span></dt>
                <dd>
                    <span>{{ subscribersUncomes.spare3 }}</span>
                </dd>
                <dt><span>Spare 4</span></dt>
                <dd>
                    <span>{{ subscribersUncomes.spare4 }}</span>
                </dd>
                <dt><span>Spare 5</span></dt>
                <dd>
                    <span>{{ subscribersUncomes.spare5 }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subscribers-uncomes', subscribersUncomes.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
