<div>
    <h2 id="page-heading">
        <span>Daily Commission Transactions</span>


    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="dailyCommissionTransactions?.length === 0">
        <span>No dailyCommissionTransactions found</span>
    </div>

    <div class="table-responsive table-hover small" id="entities" *ngIf="dailyCommissionTransactions && dailyCommissionTransactions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agentMsisdn"><span>Agent Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="processDate"><span>Process Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalTransactionsVolume"><span>Total Transactions Volume</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalCommissions"><span>Total Commissions</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare1"><span>Spare 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare2"><span>Spare 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare3"><span>Spare 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare4"><span>Spare 4</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare5"><span>Spare 5</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dailyCommissionTransactions of dailyCommissionTransactions ;trackBy: trackId">
                    <td><a [routerLink]="['/daily-commission-transactions', dailyCommissionTransactions.id, 'view']">{{ dailyCommissionTransactions.id }}</a></td>
                    <td>{{ dailyCommissionTransactions.agentMsisdn }}</td>
                    <td>{{ dailyCommissionTransactions.processDate | date:'medium' }}</td>
                    <td>{{ dailyCommissionTransactions.totalTransactionsVolume }}</td>
                    <td>{{ dailyCommissionTransactions.totalCommissions }}</td>
                    <td>{{ dailyCommissionTransactions.spare1 }}</td>
                    <td>{{ dailyCommissionTransactions.spare2 }}</td>
                    <td>{{ dailyCommissionTransactions.spare3 }}</td>
                    <td>{{ dailyCommissionTransactions.spare4 }}</td>
                    <td>{{ dailyCommissionTransactions.spare5 }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/daily-commission-transactions', dailyCommissionTransactions.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <!-- <button type="submit"
                                    [routerLink]="['/daily-commission-transactions', dailyCommissionTransactions.id, 'edit']"
                                    class="btn btn-warning btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(dailyCommissionTransactions)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="dailyCommissionTransactions && dailyCommissionTransactions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
