<div class="row justify-content-center pb-2">
    <div class="col-8">
        <div *ngIf="dailyCommissionTransactions">
            <h2><span>Daily Commission Transactions</span> {{ dailyCommissionTransactions.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Agent Msisdn</span></dt>
                <dd>
                    <span>{{ dailyCommissionTransactions.agentMsisdn }}</span>
                </dd>
                <dt><span>Process Date</span></dt>
                <dd>
                    <span>{{ dailyCommissionTransactions.processDate }}</span>
                </dd>
                <dt><span>Total Transactions Volume</span></dt>
                <dd>
                    <span>{{ dailyCommissionTransactions.totalTransactionsVolume }}</span>
                </dd>
                <dt><span>Total Commissions</span></dt>
                <dd>
                    <span>{{ dailyCommissionTransactions.totalCommissions }}</span>
                </dd>
                <dt><span>Spare 1</span></dt>
                <dd>
                    <span>{{ dailyCommissionTransactions.spare1 }}</span>
                </dd>
                <dt><span>Spare 2</span></dt>
                <dd>
                    <span>{{ dailyCommissionTransactions.spare2 }}</span>
                </dd>
                <dt><span>Spare 3</span></dt>
                <dd>
                    <span>{{ dailyCommissionTransactions.spare3 }}</span>
                </dd>
                <dt><span>Spare 4</span></dt>
                <dd>
                    <span>{{ dailyCommissionTransactions.spare4 }}</span>
                </dd>
                <dt><span>Spare 5</span></dt>
                <dd>
                    <span>{{ dailyCommissionTransactions.spare5 }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/daily-commission-transactions', dailyCommissionTransactions.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
