<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="campagne">
            <h2><span>Campaign</span> {{campagne.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{campagne.nom}}</span>
                </dd>
                <dt><span>Started date</span></dt>
                <dd>
                    <span>{{campagne.dateDebut}}</span>
                </dd>
                <dt><span>Ended date</span></dt>
                <dd>
                    <span>{{campagne.dateFin}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd class="font-weight-bolder" [ngClass]="{'text-success': campagne.statut == 'ACTIVE', 'text-danger': campagne.statut == 'DISABLED'}">
                    <span>{{campagne.statut}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/campagne', campagne.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
