<div>
    <h2 id="page-heading">
        <span>Campaigns</span>
        <button id="jh-create-entity" class="btn btn-sm btn-dark float-right jh-create-entity create-campagne" [routerLink]="['/campagne/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Campaign
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="campagnes?.length === 0">
        <span>No campaign found</span>
    </div>
    <div class="table-responsive" *ngIf="campagnes?.length > 0">
        <table class="table table-striped table-hover small">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateDebut"><span>Started date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateFin"><span>Ended date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statut"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campagne of campagnes ;trackBy: trackId">
                <td><a [routerLink]="['/campagne', campagne.id, 'view' ]">{{campagne.id}}</a></td>
                <td>{{campagne.nom}}</td>
                <td>{{campagne.dateDebut | date:'medium'}}</td>
                <td>{{campagne.dateFin | date:'medium'}}</td>
                <td [ngClass]="{'text-success font-weight-bolder': campagne.statut == 'ACTIVE', 'text-danger': campagne.statut == 'DISABLED'}">{{campagne.statut}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/campagne', campagne.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campagne', campagne.id, 'edit']"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'campagne', { outlets: { popup: campagne.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="campagnes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
