<div>
    <h2 id="page-heading">
        <span>Commission Disbursements</span>

        <button id="jh-create-entity" class="btn btn-sm btn-dark btn-sm float-right jh-create-entity create-commission-disbursement" [routerLink]="['/commission-disbursement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Commission Disbursement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="commissionDisbursements?.length === 0">
        <span>No commissionDisbursements found</span>
    </div>

    <div class="table-responsive table-hover small" id="entities" *ngIf="commissionDisbursements && commissionDisbursements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startDate"><span>Start Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span>End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="validated"><span>Validated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="validationDate"><span>Validation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="processingStatus"><span>Processing Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare1"><span>Spare 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare2"><span>Spare 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare3"><span>Spare 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare4"><span>Spare 4</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare5"><span>Spare 5</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commissionDisbursement of commissionDisbursements ;trackBy: trackId">
                    <td><a [routerLink]="['/commission-disbursement', commissionDisbursement.id, 'view']">{{ commissionDisbursement.id }}</a></td>
                    <td>{{ commissionDisbursement.name }}</td>
                    <td>{{ commissionDisbursement.startDate | date:'medium' }}</td>
                    <td>{{ commissionDisbursement.endDate | date:'medium' }}</td>
                    <td>{{ commissionDisbursement.validated }}</td>
                    <td>{{ commissionDisbursement.validationDate | date:'medium' }}</td>
                    <td>{{ commissionDisbursement.processingStatus }}</td>
                    <td>{{ commissionDisbursement.spare1 }}</td>
                    <td>{{ commissionDisbursement.spare2 }}</td>
                    <td>{{ commissionDisbursement.spare3 }}</td>
                    <td>{{ commissionDisbursement.spare4 }}</td>
                    <td>{{ commissionDisbursement.spare5 }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/commission-disbursement', commissionDisbursement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/commission-disbursement', commissionDisbursement.id, 'edit']"
                                    class="btn btn-warning btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(commissionDisbursement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="commissionDisbursements && commissionDisbursements.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
