<div class="row justify-content-center pb-2">
    <div class="col-8">
        <div *ngIf="commissionDisbursement">
            <h2><span>Commission Disbursement</span> {{ commissionDisbursement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ commissionDisbursement.name }}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{ commissionDisbursement.startDate }}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{ commissionDisbursement.endDate }}</span>
                </dd>
                <dt><span>Validated</span></dt>
                <dd>
                    <span>{{ commissionDisbursement.validated }}</span>
                </dd>
                <dt><span>Validation Date</span></dt>
                <dd>
                    <span>{{ commissionDisbursement.validationDate }}</span>
                </dd>
                <dt><span>Processing Status</span></dt>
                <dd>
                    <span>{{ commissionDisbursement.processingStatus }}</span>
                </dd>
                <dt><span>Spare 1</span></dt>
                <dd>
                    <span>{{ commissionDisbursement.spare1 }}</span>
                </dd>
                <dt><span>Spare 2</span></dt>
                <dd>
                    <span>{{ commissionDisbursement.spare2 }}</span>
                </dd>
                <dt><span>Spare 3</span></dt>
                <dd>
                    <span>{{ commissionDisbursement.spare3 }}</span>
                </dd>
                <dt><span>Spare 4</span></dt>
                <dd>
                    <span>{{ commissionDisbursement.spare4 }}</span>
                </dd>
                <dt><span>Spare 5</span></dt>
                <dd>
                    <span>{{ commissionDisbursement.spare5 }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commission-disbursement', commissionDisbursement.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
