<div>
    <h2 id="page-heading">
        <span>Blacklisted Agents</span>

        <!-- <button id="jh-create-entity" class="btn btn-sm btn-primary float-right jh-create-entity create-blacklisted-agents" [routerLink]="['/blacklisted-agents/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Blacklisted Agents
            </span>
        </button> -->
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="blacklistedAgents?.length === 0">
        <span>No blacklistedAgents found</span>
    </div>

    <div class="table-responsive table-hover small" id="entities" *ngIf="blacklistedAgents && blacklistedAgents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agentMsisdn"><span>Agent Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="blackListedDate"><span>Black Listed Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="blackListedBy"><span>Black Listed By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agentType"><span>Agent Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <!-- <th scope="col"  jhiSortBy="spare1"><span>Spare 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare2"><span>Spare 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare3"><span>Spare 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare4"><span>Spare 4</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare5"><span>Spare 5</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blacklistedAgents of blacklistedAgents ;trackBy: trackId">
                    <td><a [routerLink]="['/blacklisted-agents', blacklistedAgents.id, 'view']">{{ blacklistedAgents.id }}</a></td>
                    <td>{{ blacklistedAgents.agentMsisdn }}</td>
                    <td>{{ blacklistedAgents.blackListedDate | date:'medium' }}</td>
                    <td>{{ blacklistedAgents.blackListedBy }}</td>
                    <td>{{ blacklistedAgents.agentType }}</td>
                    <!-- <td>{{ blacklistedAgents.spare1 }}</td>
                    <td>{{ blacklistedAgents.spare2 }}</td>
                    <td>{{ blacklistedAgents.spare3 }}</td>
                    <td>{{ blacklistedAgents.spare4 }}</td>
                    <td>{{ blacklistedAgents.spare5 }}</td> -->
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/blacklisted-agents', blacklistedAgents.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <!-- <button type="submit"
                                    [routerLink]="['/blacklisted-agents', blacklistedAgents.id, 'edit']"
                                    class="btn btn-warning btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(blacklistedAgents)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="blacklistedAgents && blacklistedAgents.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
