<div class="row justify-content-center pb-2">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-blacklisted-agents-heading">Create or edit a Blacklisted Agents</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_agentMsisdn">Agent Msisdn</label>
                    <input type="text" class="form-control" name="agentMsisdn" id="field_agentMsisdn"
                           formControlName="agentMsisdn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_blackListedDate">Black Listed Date</label>
                    <div class="d-flex">
                        <input id="field_blackListedDate" type="datetime-local" class="form-control" name="blackListedDate" formControlName="blackListedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_blackListedBy">Black Listed By</label>
                    <input type="text" class="form-control" name="blackListedBy" id="field_blackListedBy"
                           formControlName="blackListedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_agentType">Agent Type</label>
                    <input type="text" class="form-control" name="agentType" id="field_agentType"
                           formControlName="agentType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare1">Spare 1</label>
                    <input type="text" class="form-control" name="spare1" id="field_spare1"
                           formControlName="spare1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare2">Spare 2</label>
                    <input type="text" class="form-control" name="spare2" id="field_spare2"
                           formControlName="spare2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare3">Spare 3</label>
                    <input type="text" class="form-control" name="spare3" id="field_spare3"
                           formControlName="spare3"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare4">Spare 4</label>
                    <input type="text" class="form-control" name="spare4" id="field_spare4"
                           formControlName="spare4"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare5">Spare 5</label>
                    <input type="text" class="form-control" name="spare5" id="field_spare5"
                           formControlName="spare5"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-dark">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
