<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="blacklistedAgents">
            <h2><span>Blacklisted Agents</span> {{ blacklistedAgents.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Agent Msisdn</span></dt>
                <dd>
                    <span>{{ blacklistedAgents.agentMsisdn }}</span>
                </dd>
                <dt><span>Black Listed Date</span></dt>
                <dd>
                    <span>{{ blacklistedAgents.blackListedDate }}</span>
                </dd>
                <dt><span>Black Listed By</span></dt>
                <dd>
                    <span>{{ blacklistedAgents.blackListedBy }}</span>
                </dd>
                <dt><span>Agent Type</span></dt>
                <dd>
                    <span>{{ blacklistedAgents.agentType }}</span>
                </dd>
                <dt><span>Spare 1</span></dt>
                <dd>
                    <span>{{ blacklistedAgents.spare1 }}</span>
                </dd>
                <dt><span>Spare 2</span></dt>
                <dd>
                    <span>{{ blacklistedAgents.spare2 }}</span>
                </dd>
                <dt><span>Spare 3</span></dt>
                <dd>
                    <span>{{ blacklistedAgents.spare3 }}</span>
                </dd>
                <dt><span>Spare 4</span></dt>
                <dd>
                    <span>{{ blacklistedAgents.spare4 }}</span>
                </dd>
                <dt><span>Spare 5</span></dt>
                <dd>
                    <span>{{ blacklistedAgents.spare5 }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/blacklisted-agents', blacklistedAgents.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
