<div class="row justify-content-center pb-2">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-reward-heading">Create or edit a Reward</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_rewardType">Reward Type</label>
                    <!--<input type="text" class="form-control" name="rewardType" id="field_rewardType"
                           formControlName="rewardType"/>-->
                    <select class="form-control" name="rewardType" formControlName="rewardType" id="field_rewardType">
                        <option value="Fidelity">POINTS DE FIDELITE</option>
                        <option value="Cashback">CASHBACK</option>
                        <option value="Bonus">BONUS CREDIT</option>
                        <option value="Incentive">INCENTIVE</option>
                    </select>
                    <div *ngIf="editForm.get('rewardType').invalid && (editForm.get('rewardType').dirty || editForm.get('rewardType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rewardType')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_taux">Rate(%)</label>
                    <input type="number" class="form-control" name="taux" id="field_taux"
                           formControlName="taux"/>
                    <div *ngIf="editForm.get('taux')!.invalid && (editForm.get('taux')!.dirty || editForm.get('taux')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('taux')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('taux')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_rewardNotifMessage">Reward Notif Message</label>
                    <input type="text" class="form-control" name="rewardNotifMessage" id="field_rewardNotifMessage"
                           formControlName="rewardNotifMessage"/>
                    <div *ngIf="editForm.get('rewardNotifMessage')!.invalid && (editForm.get('rewardNotifMessage')!.dirty || editForm.get('rewardNotifMessage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rewardNotifMessage')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_countTreshold">Count Treshold</label>
                    <input type="number" class="form-control" name="countTreshold" id="field_countTreshold"
                           formControlName="countTreshold"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_valueTreshold">Value Treshold</label>
                    <input type="number" class="form-control" name="valueTreshold" id="field_valueTreshold"
                           formControlName="valueTreshold"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_promotion">Promotion</label>
                    <select class="form-control" id="field_promotion" name="promotion" formControlName="promotionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="promotionOption.id" *ngFor="let promotionOption of promotions; trackBy: trackById">{{ promotionOption.nom }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-dark">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
