<div class="row justify-content-center pb-2">
    <div class="col-8">
        <div *ngIf="reward">
            <h2><span>Reward</span> {{ reward.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ reward.name }}</span>
                </dd>
                <dt><span>Reward Type</span></dt>
                <dd>
                    <span>{{ reward.rewardType }}</span>
                </dd>
                <dt><span>Rate</span></dt>
                <dd>
                    <span>{{ reward.taux }}%</span>
                </dd>
                <dt><span>Reward Notif Message</span></dt>
                <dd>
                    <span>{{ reward.rewardNotifMessage }}</span>
                </dd>
                <dt><span>Count Treshold</span></dt>
                <dd>
                    <span>{{ reward.countTreshold }}</span>
                </dd>
                <dt><span>Value Treshold</span></dt>
                <dd>
                    <span>{{ reward.valueTreshold }}</span>
                </dd>
                <dt><span>Promotion</span></dt>
                <dd>
                    <div *ngIf="reward.promotionId">
                        <a [routerLink]="['/promotion', reward.promotionId, 'view']">{{ reward.promotionId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reward', reward.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
