<div>
    <h2 id="page-heading">
        <span>Rewards</span>
        <button id="jh-create-entity" class="btn btn-sm btn-dark float-right jh-create-entity create-reward" [routerLink]="['/reward/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Reward
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="rewards?.length === 0">
        <span>No rewards found</span>
    </div>
    <div class="table-responsive table-hover small" *ngIf="rewards?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rewardType"><span>Reward Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="taux"><span>Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="countTreshold"><span>Count Treshould</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="valueTreshold"><span>Value Treshould</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rewardNotifMessage"><span>Reward Notif Message</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="promotionId"><span>Promotion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reward of rewards ;trackBy: trackId">
                <td><a [routerLink]="['/reward', reward.id, 'view' ]">{{reward.id}}</a></td>
                <td>{{reward.name}}</td>
                <td>{{reward.rewardType}}</td>
                <td>{{reward.taux}}%</td>
                <td>{{reward.countTreshold}}</td>
                <td>{{reward.valueTreshold}}</td>
                <td>{{reward.rewardNotifMessage}}</td>
                <td>
                    <div *ngIf="reward.promotionId">
                        <a [routerLink]="['../promotion', reward.promotionId , 'view' ]" >{{reward.promotionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/reward', reward.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reward', reward.id, 'edit']"
                                class="btn btn-warning btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'reward', { outlets: { popup: reward.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="rewards?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
