<div class="row justify-content-center pb-2">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-incentive-transfers-heading">Create or edit a Incentive Transfers</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_agentMsisdn">Agent Msisdn</label>
                    <input type="text" class="form-control" name="agentMsisdn" id="field_agentMsisdn"
                           formControlName="agentMsisdn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentDate">Payment Date</label>
                    <div class="d-flex">
                        <input id="field_paymentDate" type="datetime-local" class="form-control" name="paymentDate" formControlName="paymentDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentStatus">Payment Status</label>
                    <select class="form-control" name="paymentStatus" formControlName="paymentStatus" id="field_paymentStatus">
                        <option value="PENDING">PENDING</option>
                        <option value="FAILED">FAILED</option>
                        <option value="SUCCESS">SUCCESS</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_mobiquityResponse">Mobiquity Response</label>
                    <input type="text" class="form-control" name="mobiquityResponse" id="field_mobiquityResponse"
                           formControlName="mobiquityResponse"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare1">Spare 1</label>
                    <input type="text" class="form-control" name="spare1" id="field_spare1"
                           formControlName="spare1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare2">Spare 2</label>
                    <input type="text" class="form-control" name="spare2" id="field_spare2"
                           formControlName="spare2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare3">Spare 3</label>
                    <input type="text" class="form-control" name="spare3" id="field_spare3"
                           formControlName="spare3"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare4">Spare 4</label>
                    <input type="text" class="form-control" name="spare4" id="field_spare4"
                           formControlName="spare4"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_spare5">Spare 5</label>
                    <input type="text" class="form-control" name="spare5" id="field_spare5"
                           formControlName="spare5"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_commissionDisbursement">Commission Disbursement</label>
                    <select class="form-control" id="field_commissionDisbursement" name="commissionDisbursement" formControlName="commissionDisbursementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commissionDisbursementOption.id" *ngFor="let commissionDisbursementOption of commissiondisbursements; trackBy: trackById">{{ commissionDisbursementOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-dark">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
