<div class="row justify-content-center pb-2">
    <div class="col-8">
        <div *ngIf="incentiveTransfers">
            <h2><span>Incentive Transfers</span> {{ incentiveTransfers.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Agent Msisdn</span></dt>
                <dd>
                    <span>{{ incentiveTransfers.agentMsisdn }}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{ incentiveTransfers.amount }}</span>
                </dd>
                <dt><span>Payment Date</span></dt>
                <dd>
                    <span>{{ incentiveTransfers.paymentDate }}</span>
                </dd>
                <dt><span>Payment Status</span></dt>
                <dd>
                    <span>{{ incentiveTransfers.paymentStatus }}</span>
                </dd>
                <dt><span>Mobiquity Response</span></dt>
                <dd>
                    <span>{{ incentiveTransfers.mobiquityResponse }}</span>
                </dd>
                <dt><span>Spare 1</span></dt>
                <dd>
                    <span>{{ incentiveTransfers.spare1 }}</span>
                </dd>
                <dt><span>Spare 2</span></dt>
                <dd>
                    <span>{{ incentiveTransfers.spare2 }}</span>
                </dd>
                <dt><span>Spare 3</span></dt>
                <dd>
                    <span>{{ incentiveTransfers.spare3 }}</span>
                </dd>
                <dt><span>Spare 4</span></dt>
                <dd>
                    <span>{{ incentiveTransfers.spare4 }}</span>
                </dd>
                <dt><span>Spare 5</span></dt>
                <dd>
                    <span>{{ incentiveTransfers.spare5 }}</span>
                </dd>
                <dt><span>Commission Disbursement</span></dt>
                <dd>
                    <div *ngIf="incentiveTransfers.commissionDisbursementId">
                        <a [routerLink]="['/commission-disbursement', incentiveTransfers.commissionDisbursementId, 'view']">{{ incentiveTransfers.commissionDisbursementId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/incentive-transfers', incentiveTransfers.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
