<div>
    <h2 id="page-heading">
        <span>Incentive Transfers</span>

        <!-- <button id="jh-create-entity" class="btn btn-sm btn-dark float-right jh-create-entity create-incentive-transfers" [routerLink]="['/incentive-transfers/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Incentive Transfers
            </span>
        </button> -->
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="incentiveTransfers?.length === 0">
        <span>No incentiveTransfers found</span>
    </div>

    <div class="table-responsive table-hover small" id="entities" *ngIf="incentiveTransfers && incentiveTransfers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="agentMsisdn"><span>Agent Msisdn</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span>Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentDate"><span>Payment Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentStatus"><span>Payment Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mobiquityResponse"><span>Mobiquity Response</span> <fa-icon icon="sort"></fa-icon></th>
                    <!-- <th scope="col"  jhiSortBy="spare1"><span>Spare 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare2"><span>Spare 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare3"><span>Spare 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare4"><span>Spare 4</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="spare5"><span>Spare 5</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <th scope="col"  jhiSortBy="commissionDisbursementId"><span>Commission Disbursement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let incentiveTransfers of incentiveTransfers ;trackBy: trackId">
                    <td><a [routerLink]="['/incentive-transfers', incentiveTransfers.id, 'view']">{{ incentiveTransfers.id }}</a></td>
                    <td>{{ incentiveTransfers.agentMsisdn }}</td>
                    <td>{{ incentiveTransfers.amount }}</td>
                    <td>{{ incentiveTransfers.paymentDate | date:'medium' }}</td>
                    <td>{{ incentiveTransfers.paymentStatus }}</td>
                    <td>{{ incentiveTransfers.mobiquityResponse }}</td>
                    <!-- <td>{{ incentiveTransfers.spare1 }}</td>
                    <td>{{ incentiveTransfers.spare2 }}</td>
                    <td>{{ incentiveTransfers.spare3 }}</td>
                    <td>{{ incentiveTransfers.spare4 }}</td>
                    <td>{{ incentiveTransfers.spare5 }}</td> -->
                    <td>
                        <div *ngIf="incentiveTransfers.commissionDisbursementId">
                            <a [routerLink]="['/commission-disbursement', incentiveTransfers.commissionDisbursementId , 'view']" >{{ incentiveTransfers.commissionDisbursementId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/incentive-transfers', incentiveTransfers.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <!-- <button type="submit"
                                    [routerLink]="['/incentive-transfers', incentiveTransfers.id, 'edit']"
                                    class="btn btn-warning btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(incentiveTransfers)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="incentiveTransfers && incentiveTransfers.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
