<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="partner">
            <h2><span>Partner</span> {{partner.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{partner.name}}</span>
                </dd>
                <dt><span>Callback URL</span></dt>
                <dd>
                    <span>{{partner.callbackUrl}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{partner.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/partners', partner.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
