<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="promoExecutionPlan">
            <h2><span>Promo Execution Plan</span> {{promoExecutionPlan.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Started date</span></dt>
                <dd>
                    <span>{{promoExecutionPlan.dateDebut}}</span>
                </dd>
                <dt><span>Ended date</span></dt>
                <dd>
                    <span>{{promoExecutionPlan.dateFin}}</span>
                </dd>
                <dt><span>Promotion</span></dt>
                <dd>
                    <div *ngIf="promoExecutionPlan.promotionId">
                        <a [routerLink]="['/promotion', promoExecutionPlan.promotionId, 'view']">{{promoExecutionPlan.promotionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-secondary">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/promo-execution-plan', promoExecutionPlan.id, 'edit']"
                    class="btn btn-warning">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
