<div>
    <h2 id="page-heading">
        <span>Promo Execution Plans</span>
        <!--<button id="jh-create-entity" class="btn btn-sm btn-primary float-right jh-create-entity create-promo-execution-plan" [routerLink]="['/promo-execution-plan/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Promo Execution Plan
            </span>
        </button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="promoExecutionPlans?.length === 0">
        <span>No promoExecutionPlans found</span>
    </div>
    <div class="table-responsive table-hover small" *ngIf="promoExecutionPlans?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateDebut"><span>Started date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateFin"><span>Ended date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="promotionId"><span>Promotion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let promoExecutionPlan of promoExecutionPlans ;trackBy: trackId">
                <td><a [routerLink]="['/promo-execution-plan', promoExecutionPlan.id, 'view' ]">{{promoExecutionPlan.id}}</a></td>
                <td>{{promoExecutionPlan.dateDebut | date:'medium'}}</td>
                <td>{{promoExecutionPlan.dateFin | date:'medium'}}</td>
                <td>
                    <div *ngIf="promoExecutionPlan.promotionId">
                        <a [routerLink]="['../promotion', promoExecutionPlan.promotionId , 'view' ]" >{{promoExecutionPlan.promotionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/promo-execution-plan', promoExecutionPlan.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <!--<button type="submit"
                                [routerLink]="['/promo-execution-plan', promoExecutionPlan.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'promo-execution-plan', { outlets: { popup: promoExecutionPlan.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="promoExecutionPlans?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
