.logo-img {
  height: 20px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-free.png') no-repeat center center;
  background-size: contain;
}
